{% extends 'base.html.twig' %}

{% block title %}Ask Reset Password{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href ="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href ="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-5">

        <form method="post" novalidate>

            <div class="row mb-3">
                <div class="offset-4 col-4 offset-lg-5 col-lg-2">
                    <img src ="{{ asset('images/lock.png') }}" class="img-fluid" alt ="slot"/>
                </div>
            </div>

            <h1 class="mb-4 text-center font-weight-normal">{% trans %}Reset password{% endtrans %}</h1>

            <div class="form-group">
                 <div class="d-flex justify-content-between">
                    <label for="inputEmail" class="required">Email *</label>
                    {% if error %}
                        <span class="invalid-feedback d-block mb-2">
                        <span class="d-block">
                            <span class="form-error-icon badge badge-danger text-uppercase">Error</span>
                            <span class="form-error-message">{{ error|trans }} ❌</span>
                        </span>
                    </span>

                    {#<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
                    {% endif %}
                 </div>
                <input type="email" value="" name="resetEmail" id="inputEmail"
                       class="form-control" placeholder="Email" required autofocus>
                <small id="helpResetPasswordEmail">
                    {% trans %}Password reset instructions will be sent to the above email address.{% endtrans %} </small>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="mb-3">
                <button class="btn btn-lg btn-dark btn-block" type="submit">
                    {% trans %}Submit{% endtrans %}
                </button>
            </div>
        </form>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/hide_error_message.js') }}"></script>
{% endblock %}

