{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href ="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href ="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-5">

        <form method="post" novalidate autocomplete="off">
            {#{% if error %}
                <span class="invalid-feedback d-block mb-2">
                <span class="d-block p-2">
                    <span class="form-error-icon badge badge-danger text-uppercase">Error</span>
                    <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }} ❌</span>
                </span>
            </span>
            {% endif %}#}

            <div class="row mb-3">
                <div class="offset-4 col-4 offset-lg-5 col-lg-2">
                    <img src ="{{ asset('images/lock.png') }}" class="img-fluid" alt ="slot"/>
                </div>
            </div>

            <h1 class="mb-4 text-center font-weight-normal">Reset password</h1>

            <div class="form-group mb-3" id="show_hide_password">
                <div class="d-flex justify-content-between">
                    <label for="inputPassword" class="required">Password</label>
                    <span id="showErrorPassword"class="invalid-feedback mb-1">
                            <span class="form-error-icon badge badge-danger text-uppercase">Error</span>
                            <span id="errorTextPassword" class="form-error-message"> </span>
                    </span>
                </div>
                <div class="d-flex">
                    <input type="password" name="password" id ="inputPassword"
                           class= "form-control" placeholder="Password" required>
                    <div class="input-group-addon px-2 d-flex align-items-center">
                        <span><i class="password-eye fa fa-eye-slash" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group mt-n3 mb-3">
                <!-- Aanwijzingstekst -->
                <small class="text-muted">
                    Minimum 8 and maximum 13 characters, at least one lowercase letter, one uppercase letter,
                    one numeric digit.
                </small>
            </div>

            <div class="form-group mb-3" id="show_hide_password">
                <div class="d-flex justify-content-between">
                    <label for="inputRepeatPassword" class="required">Repeat password</label>
                    <span id="showErrorRepeatPassword" class="invalid-feedback mb-1">
                        <span class="d-block">
                            <span class="form-error-icon badge badge-danger text-uppercase">Error</span>
                            <span id="errorTextRepeatPassword" class="form-error-message"> </span>
                        </span>
                    </span>
                </div>
                <div class="d-flex">
                    <input type="password" name="repeatPassword" id ="inputRepeatPassword"
                           class= "form-control" placeholder="Repeat password" required>
                    <div class="input-group-addon px-2 d-flex align-items-center">
                        <span><i class="password-eye fa fa-eye-slash" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="mb-3">
                <button id="submitButton" class="btn btn-lg btn-dark btn-block" type="submit">
                    Update
                </button>
            </div>
        </form>

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/passwords_show_userForm.js') }}"></script>
    <script src="{{ asset('js/hide_error_message.js') }}"></script>
    <script src="{{ asset('js/check_password.js') }}"></script>
{% endblock %}
