{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <div id= "cookie_container" class="cookie p-3 d-flex justify-content-between align-items-center hide">
                    <div class="px-3">
                        <h5>{% trans %}Hello, this site uses cookies{% endtrans %} &#x1F36A!</h5>
                        <p>{% trans %}We use session, functional and anonymous statistic cookies to make your visit to the website as pleasant as possible.{% endtrans %}</p>
                        <p>{% trans %}To find out more, read our{% endtrans %}
                            <a href="{{ path('app_privacy_policy') }}">{% trans %}privacy policy{% endtrans %}</a> {% trans %}and{% endtrans %} <a href="{{ path('app_cookie_policy') }}">{% trans %}cookie policy{% endtrans %}</a>.</p>
                    </div>
                    <div class="pr-3">
                        <button class="btn btn-dark color transform cookie-agree-btn mb-1" id="btnOK">{% trans %}Agree{% endtrans %}</button>
                        <button class="btn btn-dark color transform cookie-disagree-button ml-2 mb-1" id="btnOK">{% trans %}Disagree{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 text-center">
                <h4>{% trans %}Newsite which spread light on dark matters{% endtrans %}:</h4>
                <h1>{% trans %}The Infinite Space Bar{% endtrans %}</h1>
            </div>
        </div>

        <div class="row mt-4">

            <!-- Article List -->

            <div class="col-sm-12 col-md-7">

                <!-- Article 1 -->
                <a href="{{ path('article_show',{slug:'The-9-best-meteor-showers-to-watch-in-2020-370'}) }}">
                    <div class="mb-4 pb-3 border">
                        <img class="img-fluid mb-3 border-bottom" src="{{ asset('images/meteors_shower.jpg') }}" alt="meteor shower">
                        <h3 class="text-center mt-2">{% trans %}The <span class="color">9 best meteor showers</span> to watch <br>in 2020{% endtrans %}</h3>
                    </div>
                </a>

                <a href="{{ path('article_show',{slug:'Astroids-Comets-And-Planets-663'}) }}">
                    <div class="mb-4 pb-3 border">
                        <img class="img-fluid mb-3 border-bottom" src=" {{ asset('images/416_16_psyche_main.jpg') }} " alt="astroid 416">
                        <h3 class="text-center mt-2">{% trans %}<span class="color">Astroids</span>, <span class="color">Comets</span> and <span class="color">Planets</span>{% endtrans %}</h3>
                    </div>
                </a>
                <!-- Supporting Articles -->

                {#<div class="my-1 border">
                        <img class="article-img"  src="{{ asset('images/nasa-asteroids.jpg') }}">
                    <div class="article-title d-inline-block pl-3 align-middle">
                        <br>
                        <span class="align-left article-details"><img class="article-author-img rounded-circle" src="{{ asset('images/alien-profile.png') }}"> Mike Ferengi </span>
                        <span class="pl-5 article-details float-right"> 3 hours ago</span>
                    </div>
                </div>#}
                {% for article in articles %}
                <div class="my-1 border mb-4">
                    <div class="row">

                            <div class="col-4 text-center">
                                <a href="{{ path('article_show', {slug: article.slug}) }}" >
                                    <img src="{{ asset(article.imagePath)|imagine_filter('squared_thumbnail_small') }}" class="img-fluid" alt ="planet Mercury">
                                </a>
                            </div>
                            <div class="col-8">
                                <a href="{{ path('article_show', {slug: article.slug}) }}">
                                    <div class="article-title align-middle">
                                        <p> <span class="color">{{ article.title|trans }} </span><br><span>{{ article.comments|length }} {% trans %}comments{% endtrans %}</span></p>
                                        <div class="mt-2" style = "color: white">
                                            <span class=""><img class="article-author-img rounded-circle" src="{{ asset('images/astronaut-profile.png') }}" alt="{{article.author}}"> {{article.author}} </span>
                                            <p class="article-details "> {{ article.publishedAt ? article.publishedAt | ago  : 'unpublished'}}
                                            {% trans %}on{% endtrans %}
                                            {% if (app.request.locale  == 'nl') %}
                                                {{ article.publishedAt ? article.publishedAt | format_datetime('medium', 'none', locale='nl')  : 'unpublished'}}
                                            </p>
                                            {% else %}
                                                {{ article.publishedAt ? article.publishedAt | format_datetime('medium', 'none', locale='en')  : 'unpublished'}}
                                            {% endif %}
                                            <p class="article-details mt-1">
                                                {% trans %}tags{% endtrans %}:&nbsp
                                                {% for tag in article.tags %}
                                                    <span class="badge badge-secondary">
                                                        {{ tag.name|trans }}
                                                    </span>
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>

                    </div>
                </div>
                {% endfor %}

                {#<div class="my-1 border mb-3">
                    <a href="#">
                        <img class="article-img" src="{{ asset('images/light-speed.jpg') }}" alt="light speed">
                        <div class="article-title d-inline-block pl-3 align-middle">
                            <a href="#"><span class="color">Light Speed Travel: </span><br><span>The Speed Of Light Is Not About Lightk</span></a>
                            <div class="mt-2">
                                <span class="align-left"><img class="article-author-img rounded-circle" src="{{ asset('images/astronaut-profile.png') }}" alt="astronautt Oort"> Amy Oort </span>
                                <span class="pl-5 article-details"> 2 weeks ago</span>
                            </div>
                        </div>
                    </a>
                </div>#}

            </div>

            <!-- Right bar ad space -->

            <div class="col-sm-12 col-md-5 text-center">
                <div class="ad-space mx-auto mb-4 border">
                    <img class="img-fluid border mb-2" src="{{ asset('images/ice-full.jpg') }}" alt="ice in space">
                    <h3 class="font-weight-bold">Cosmos Magazine:</h3>
                    <p class="font-italic">{% trans %}Main article{% endtrans %}: {% trans %}Interstellar ice may hold the secret to life{% endtrans %}</p>
                    <button class="btn btn-dark mb-3">{% trans %}Buy Now{% endtrans %}!</button>
                </div>

                <div class="pb-2 pt-2 px-5 border">
                    <h3 class="text-center pb-3 mt-2">{% trans %}Famous quotes by astronauts{% endtrans %}</h3>
                    <h5><i>"{% trans %}That’s one small step for a man, one giant leap for mankind{% endtrans %}.”</i></h5>
                    <p><a href="#" class="text-uppercase">Neil Armstrong </a>- Apollo 11 {% trans %}mission{% endtrans %}</p>
                    <h5 class="pt-4"><i>"{% trans %}The earth must become as it appears&colon; blue and white, not capitalist or Communist; blue and white, not rich or poor; blue and white, not envious or envied{% endtrans %}."</i> </h5>
                    <p><a href="#" class="text-uppercase">Michael Collins</a> - Apollo 11 {% trans %}mission{% endtrans %}</p>
                    <h5 class="pt-4"><i>"{% trans %}I looked and looked but I didn't see God{% endtrans %}."</i></h5>
                    <p><a href="#" class="text-uppercase">Yuri Gagarin </a>- {% trans %}first man in space{% endtrans %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/cookie_banner_consent.js') }}"></script>
{% endblock %}