{% extends 'base.html.twig' %}

{% block title %}
    Read {{ title }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-4 mb-3 d-flex align-items-center">
            <div class="col-6 col-sm-4">
                <figure>
                    <img class="img-fluid show-article-img"
                         src="{{ asset('images/416_16_psyche_main.jpg') }}">
                    <figcaption class="ml-1">- asteroid 16 Psyche, -</figcaption>
                </figure>

            </div>
            <div class="col-6 col-sm-8">
                <h1 class="title">{{ title }}</h1>
                <span class="align-left article-details"><img class="article-author-img rounded-circle"
                    src="{{ asset('images/anakin-skywalker.png') }}"> Mike Ferengi
                </span>
                <span class="pl-2 article-details"> 4 hours ago</span>
                <span class="pl-2 article-details"> <span class="js-like-article-count"> 5</span>
                    <a href="#" class="ml-1 fa fa-heart-o like-article js-like-article"></a>
                </span>
            </div>

        </div>


        <div class="row">
            <div class="col-12">

                {{ articleIntro|raw }}

                <h4>Current Counts:</h4>
                <ul>
                    <li><strong>Known Asteroids:</strong> <span class="color">57 5269</span></li>
                    <li><strong>Known Comets:</strong> <span class="color">3 611</span></li>
                </ul>
                <br/>
                {{ articleParagraph1|raw }}
                {{ articleParagraph2|raw }}
            </div>
            <div class="col-12">
                <p class="share-icons mb-5"><span class="pr-1">Share:</span>
                    <i class="pr-1 fa fa-facebook-square"></i><i class="pr-1 fa fa-twitter-square"></i><i
                            class="pr-1 fa fa-reddit-square"></i><i class="pr-1 fa fa-share-alt-square"></i>
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3><i class="pr-3 fa fa-comment"></i>Comments ({{ comments|length }})</h3>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-12">
                <img class="comment-img rounded-circle"
                     src="{{ asset('images/astronaut-profile.png') }}">
                <div class="d-inline-block pl-3 align-top">
                    <span class="commenter-name">Amy Oort</span>
                    <div class="form-group">
                        <textarea class="form-control comment-form"
                                  id="articleText"
                                  rows="1"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark">Comment</button>
                </div>
            </div>
        </div>

        {% for comment in comments %}
        <div class="row">
            <div class="col-sm-12">
                    <img class="comment-img rounded-circle"
                         src="{{ asset('images/anakin-skywalker.png') }}">
                    <span class="commenter-name">Mike Ferengi</span>
                    <br>
                    {{ comment }}
                    <p><a href="#">Reply</a></p>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/article_show.js') }}"></script>
{% endblock %}