<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% trans %}Welcome to the Space Bar{% endtrans %}!</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            font-family: Helvetica, Arial, sans-serif;
        }
        header{
            margin-top: 1rem;
        }
        h1 {
            margin-top: 2rem;
            background-color: darkorange;
            color: #ffffff;
            padding: 1.5rem 0 1.65rem 0;
            font-weight: normal;
        }
        hr {
            border: none;
            border-top: 3px solid darkorange;
            margin: 1.25rem;
        }
        span{
            color: darkorange;
        }
        .container {
            background-color: #fefefe;
            width: 585px;
            margin: 0 auto;
        }
        .bottom {
            background-color: #efefee;
        }
        .bottom p{
            margin-bottom: 0;
            margin-top: 0;
        }
        .block {
            margin: 0;
            padding: 10px 20px 20px 20px;
        }
        .logo {
            width: 90%;
        }
        .text-center {
            text-align: center;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: darkorange;
            color: #fefefe;
            border: 1px solid saddlebrown;
            border-top: none;
            border-left: none;
            border-radius: 3px;
            box-shadow: inset 0 4px 6px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
            font-size: 1.35rem;
            text-decoration: none;
        }
        small{
            color: dimgray;
            padding: 20px 0;
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center mt-4">
            <a href="{{ url('app_homepage') }}">
                <img src="{{absolute_url(asset('images/email/logo.66125a81.png'))}}" class="logo" alt="SpaceBar Logo">
            </a>
        </div>
        <div class="content">
            <h1 class="text-center">{% trans %}Dear{% endtrans %} {{ firstName }}!</h1>
            <p class="block">
                {% trans %}You recently requested to reset your password for your SpaceBar account.{% endtrans %}
                {% trans %}Use the button below to reset it. This password reset is only valid till{% endtrans %} {{ expire|date("d M Y h:s") }}.
            </p>

            <p class="block text-center">
                <a href="{{ url('app_reset',{'token':token}) }}" class="btn">{% trans %}Reset your password{% endtrans %}</a>
            </p>
            <p class="block">
                {% trans %}If you did not request a password reset, please ignore this email or{% endtrans %}
                <a href="{{ url('app_contact') }}" >{% trans %}contact support{% endtrans %} </a> {% trans %}if you have questions{% endtrans %}.
            <p class="block">
                {% trans %}Thanks{% endtrans %},<br/><br/>
                {% trans %}The{% endtrans %} <em>{% trans %}SpaceBar Team{% endtrans %}</em>
            </p>

        </div>
        <div class="footer">
            <div class="block bottom text-center">
                <p>{% trans %}Sent with ❤️ from the friendly folks at The Space Bar{% endtrans %}</p>
                <p>© <span>ED</span> Web&PhotoStudio {{ year|date("Y") }}</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>